<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <!--  hello-->
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>com.example.servlet.HelloServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-url>hello</servlet-url>
    <servlet-pattern>/hello</servlet-pattern>
  </servlet-mapping>

  <!--  getc-->
  <servlet>
    <servlet-name>getc</servlet-name>
    <servlet-class>com.example.servlet.GetServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>getc</servlet-name>
    <url-pattern>/getc</url-pattern>
  </servlet-mapping>
</web-app>
